.settings {
  .connected-state-dot {
    margin: auto;
  }

  .player-row td {
    vertical-align: middle;
  }

  .qr-section {
    background-color: var(--card-bg);
    border-color: var(--card-border);
  }
}
